.skills-container {
    grid-template-columns: repeat(2, 350px);
    justify-content: center;

    grid-gap: var(--mb-2-5);
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* width: 350px; */
    border-radius: 0.75rem;
    /* text-align: center; */
    padding: 1rem 1.25rem;
}

.skills__title {
    text-align: center;
}
.skills__box {
    display: flex;
    justify-content: space-between;
}

.skills_data {
    display: flex;
    margin-bottom: var(--mb-1);
}

.bx {
    padding-top: 5px;
    padding-right: 0.75rem;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(1, 350px);
        justify-content: center;

        /* grid-gap: var(--mb-2); */
    }
}

@media screen and (max-width: 576px) {
    .skills-container {
        grid-template-columns: 1fr;
        justify-content: center;

        /* grid-gap: var(--mb-2); */
    }
}

@media screen and (max-width: 350px) {
}
